.overlay-pane {
    -fx-background-color: #f2f2f2;
    -fx-background-radius: 10 0 0 0;
    -fx-border-width: 1 0 0 1;
    -fx-border-color: #aaa;
    -fx-border-radius: 10 0 0 0;
}

.toggle-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-cursor: hand;
    -fx-padding: 5;
    -fx-border-width: 1 0 1 0;
}

.toggle-button-first {
    -fx-border-width: 0 0 1 0;
}

.toggle-button:hover, .toggle-button:selected {
    -fx-border-color: rgba(0, 0, 0, 0.1);
    -fx-background-color: rgba(0, 0, 0, 0.05);
}

.toggle-button :pressed {
    -fx-background-color: rgba(0, 0, 0, 0.15);
}

.toggle-group {
    -fx-border-color: lightgray;
    -fx-border-width: 0 0 0 1;
}