.tab-bar {
    -fx-background-color: transparent;
    -fx-border-color: transparent transparent #ccc transparent;
    -fx-padding: 0 5 0 5;
}

.tab-button {
    -fx-background-color: white;
    -fx-border-color: -fx-box-border;
    -fx-padding: 6 12;
    -fx-border-width: 1 1 1 1;
    -fx-border-radius: 5 5 0 0;
    -fx-background-radius: 5 5 0 0;
    -fx-border-insets: 0 0 -1 0;
    -fx-cursor: hand;
}

.tab-button:selected {
    -fx-background-color: -fx-focus-background-color;
    -fx-text-fill: #000;
}

.tab-button:focused {
    -fx-border-color: -fx-box-border;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}
