
.terminal {
    -fx-background-color: transparent;

    -fx-text-fill: black;
    -fx-font-family: Monospaced;
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}

.terminal .scroll-pane .content{
    -fx-background-color: transparent;
}