@import "root.css";

.toggle-button.visualizer-button,
.visualizer-button {
    -fx-background-color: -ugs-blackish-color;
    -fx-border-color: transparent;
}

.toggle-button.visualizer-button {
    -fx-opacity: 0.55;
}

.toggle-button.visualizer-button:selected {
    -fx-opacity: 1;
}

.toggle-button.visualizer-button:hover,
.visualizer-button:hover {
    -fx-background-color: #353A40CC;
    -fx-border-color: transparent;
}

.tool-button {
    -fx-background-color: #f2f2f2;
    -fx-font-size: 1.2em;
    -fx-padding: 6 12 6 6;
}