/build/
/dist/
/nbproject/private
release
.DS_Store
test_files/grbl_*.hex.txt
target/
target/*
/target/
.metadata
tar.gz
.classpath
.factorypath
.project
.settings
/*.log
/UGSPlatform/build/
/UGSPlatform/CentralLookup/build/
/UGSPlatform/CentralLookup/nbproject/private/
/UGSPlatform/ConnectionModule/build/
/UGSPlatform/FileBrowseModule/build/
/UGSPlatform/Java-Bindings-for-OpenGL-API-Specification/build/
/UGSPlatform/jssc/build/
/UGSPlatform/latestStabilBuild/
/UGSPlatform/MachineControl/build/
/UGSPlatform/MachineControl/nbproject/private/
/UGSPlatform/nbproject/private/
/UGSPlatform/Options/build/
/UGSPlatform/SerialConsole/build/
/UGSPlatform/Options/nbproject/private/
/UGSPlatform/UGSLib/build/
/UGSPlatform/UGSLib/nbproject/private/
/UGSPlatform/VisualizerModule/build/
.idea
*.iml
dependency-reduced-pom.xml
/UGSPlatform/dist/
/UGSPlatform/WorkflowModule/build/
/UGSPlatform/WorkflowModule/nbproject/private/
/UGSPlatform/WorkflowModuleTutorial/nbproject/private/
/UGSPlatform/UGSCore/build/
/UGSPlatform/ConnectionModule/nbproject/private/
/UGSPlatform/Java-Bindings-for-OpenGL-API-Specification/nbproject/private/
/UGSPlatform/UGSCore/nbproject/private/
/UGSPlatform/GcodeEditor/build/
/UGSPlatform/GcodeEditor/nbproject/private/
/UGSPlatform/VisualizerModule/nbproject/private/
/ugs-core/nbproject/
/ugs-platform/ProbeModule/nbproject/
ugs-pendant/src/main/webapp/node/node_modules
ugs-pendant/src/main/webapp/node
/ugs-platform/ugs-platform-plugin-cloud-storage/nbproject/
.flattened-pom.xml
