/build/
/dist/
/nbproject/private
release
release_files
.DS_Store
test_files/grbl_*.hex.txt
target/
target/*
/target/
.metadata
tar.gz
.classpath
.project
.settings
/*.log
/UGSPlatform/build/
/UGSPlatform/CentralLookup/build/
/UGSPlatform/CentralLookup/nbproject/private/
/UGSPlatform/ConnectionModule/build/
/UGSPlatform/FileBrowseModule/build/
/UGSPlatform/Java-Bindings-for-OpenGL-API-Specification/build/
/UGSPlatform/jssc/build/
/UGSPlatform/latestStabilBuild/
/UGSPlatform/MachineControl/build/
/UGSPlatform/MachineControl/nbproject/private/
/UGSPlatform/nbproject/private/
/UGSPlatform/Options/build/
/UGSPlatform/SerialConsole/build/
/UGSPlatform/Options/nbproject/private/
/UGSPlatform/UGSLib/build/
/UGSPlatform/VisualizerModule/build/
.idea
*.iml
dependency-reduced-pom.xml
