/build/
/dist/
/nbproject/private
/release/
/release_files/
.DS_Store
test_files/grbl_*.hex.txt
target/
target/*
/target/
.metadata
tar.gz
.classpath
.project
.settings
/*.log
/UGSPlatform/nbproject/private/
/UGSPlatform/UGSLib/build/
/UGSPlatform/jssc/build/
/UGSPlatform/CentralLookup/build/
/UGSPlatform/build/
/UGSPlatform/Java-Bindings-for-OpenGL-API-Specification/build/
/UGSPlatform/MachineControl/build/
/UGSPlatform/MachineControl/nbproject/private/
/UGSPlatform/CentralLookup/nbproject/private/
/UGSPlatform/Options/nbproject/private/