<div class="container">
  <div class="row">
    <div class="col-12 col-md-6 col-lg-4">
      <button class="btn btn-secondary btn-block" (click)="resetToZero()">Reset zero</button>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <button class="btn btn-secondary btn-block" (click)="returnToZero()">Return to Zero</button>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <button class="btn btn-secondary btn-block" (click)="softReset()">Soft reset</button>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <button class="btn btn-secondary btn-block" (click)="homeMachine()">Home machine</button>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <button class="btn btn-secondary btn-block" (click)="killAlarm()">Kill alarm</button>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <button class="btn btn-secondary btn-block" (click)="disconnect()">Disconnect</button>
    </div>
  </div>
</div>
