.rightRail {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 0;
  min-width: 0;
  gap: 10px;

  .rightRailContent {
    flex: 1 1 auto;
    min-height: 0;
    min-width: 0;
    overflow: auto;
  }
}
