<div class="container jog-controller">

  <div class="row">
    <div class="col-3"></div>
    <div class="col-3 d-flex justify-content-center">
      <button class="btn btn-secondary" (click)="jog(0, -1, 0)">
        <fa-icon icon="chevron-circle-up" size="lg"></fa-icon>
        Y-
      </button>
    </div>
    <div class="col-3"></div>
    <div class="col-3 d-flex justify-content-center">
      <button class="btn btn-secondary" (click)="jog(0, 0, 1)">
        <fa-icon icon="arrow-circle-up" size="lg"></fa-icon>
        Z+
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-3 d-flex justify-content-center">
      <button class="btn btn-secondary" (click)="jog(-1, 0, 0)">
        <fa-icon icon="chevron-circle-left" size="lg"></fa-icon>
        X-
      </button>
    </div>
    <div class="col-3"></div>
    <div class="col-3 d-flex justify-content-center">
      <button class="btn btn-secondary" (click)="jog(1, 0, 0)">X+
        <fa-icon icon="chevron-circle-right" size="lg"></fa-icon>
      </button>
    </div>
    <div class="col-3"></div>
  </div>

  <div class="row">
    <div class="col-3"></div>
    <div class="col-3 d-flex justify-content-center">
      <button class="btn btn-secondary" (click)="jog(0, 1, 0)">Y+
        <fa-icon icon="chevron-circle-down" size="lg"></fa-icon>
      </button>
    </div>
    <div class="col-3"></div>
    <div class="col-3 d-flex justify-content-center">
      <button class="btn btn-secondary" (click)="jog(0, 0, -1)">Z-
        <fa-icon icon="arrow-circle-down" size="lg"></fa-icon>
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col">
      Feed rate {{feedRate}}:
      <select class="form-control" [value]="feedRate">
        <option>1</option>
        <option>10</option>
        <option>20</option>
        <option>30</option>
        <option>40</option>
        <option>50</option>
        <option>60</option>
        <option>70</option>
        <option>80</option>
        <option>90</option>
        <option>100</option>
        <option>200</option>
        <option>300</option>
        <option>400</option>
        <option>500</option>
        <option>600</option>
        <option>700</option>
        <option>800</option>
        <option>900</option>
        <option>1000</option>
        <option>2000</option>
        <option>3000</option>
        <option>4000</option>
        <option>5000</option>
        <option>6000</option>
        <option>7000</option>
        <option>8000</option>
        <option>9000</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col">
      Step size:
      <select class="form-control">
        <option>0.01</option>
        <option>0.02</option>
        <option>0.03</option>
        <option>0.04</option>
        <option>0.05</option>
        <option>0.06</option>
        <option>0.07</option>
        <option>0.08</option>
        <option>0.09</option>
        <option>0.1</option>
        <option>0.2</option>
        <option>0.3</option>
        <option>0.4</option>
        <option>0.5</option>
        <option>0.6</option>
        <option>0.7</option>
        <option>0.8</option>
        <option>0.9</option>
        <option>1</option>
        <option>10</option>
        <option>20</option>
        <option>30</option>
        <option>40</option>
        <option>50</option>
        <option>60</option>
        <option>70</option>
        <option>80</option>
        <option>90</option>
        <option>100</option>
        <option>200</option>
        <option>300</option>
        <option>400</option>
        <option>500</option>
      </select>
    </div>
  </div>
</div>

