@import "~bootstrap/scss/bootstrap-grid";

button {
  margin-top: 8px;
  margin-bottom: 8px;
}

label {
  display: inline-block;
  margin-bottom: -5px;
}

.fileContainer {
  overflow: hidden;
  position: relative;
  width: 100%;
}

input[type='file'] {
  color: transparent;
}

.file-status {
  font-size: 0.8em;
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}

.progress {
  margin-bottom: 10px
}

.btn {
  font-size: 0.8em;
  min-width: 6em;
  margin-right: 8px;
}
