name: Build and test

on: [pull_request]

jobs:
  build-and-test:
    if: github.repository_owner == 'winder'
    runs-on: ubuntu-24.04

    steps:
    - uses: actions/checkout@v3
    - uses: .github/actions/setup-java-maven

    - name: Build and test
      run: ./mvnw clean install
      
