name: Build Release

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  release:
    if: github.repository_owner == 'winder'
    runs-on: ubuntu-24.04

    steps:
    - uses: actions/checkout@v3
    - uses: .github/actions/setup-java-maven

    - name: Build and test
      run: |
        export REVISION=${GITHUB_REF_NAME:1}
        export CHANGELIST=""
        echo "Building version ${REVISION}${CHANGELIST}"
        ./mvnw clean install -B -Drevision=${REVISION} -Dchangelist=${CHANGELIST} -DskipTests=true
      
    - name: Package
      run: |
        export REVISION=${GITHUB_REF_NAME:1}
        export CHANGELIST=""
        echo "Packaging version ${REVISION}${CHANGELIST}"
        ./mvnw package -pl ugs-classic assembly:assembly -DskipTests=true -Drevision=${REVISION} -Dchangelist=${CHANGELIST}
        ./mvnw package -pl ugs-platform/application -P create-win32-package,create-win64-package,create-linux-x64-package,create-linux-arm-package,create-linux-aarch64-package -DskipTests=true -Drevision=${REVISION} -Dchangelist=${CHANGELIST}

    # https://github.com/marketplace/actions/upload-to-github-release
    - name: Upload binaries to snapshot release
      uses: xresloader/upload-to-github-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        file: "ugs-classic/target/UniversalGcodeSender.zip;ugs-platform/application/target/linux-*-ugs-platform-app*.tar.gz;ugs-platform/application/target/win-ugs-platform-app-*.zip;ugs-platform/application/target/win64-ugs-platform-app-*.zip;ugs-platform/application/target/ugs-platform-app-*.zip"
        prerelease: true
        tag_name: ${GITHUB_REF_NAME}
        overwrite: true

  release-macosx:
    if: github.repository_owner == 'winder'
    needs: build-and-test
    runs-on: macos-latest

    steps:
      - name: Install Homebrew package
        run: |
          brew update
          brew install cdrtools

      - uses: actions/checkout@v3
      - uses: .github/actions/setup-java-maven

      - name: Build and test
        run: |
          export REVISION=${GITHUB_REF_NAME:1}
          export CHANGELIST=""
          echo "Building version ${REVISION}${CHANGELIST}"
          ./mvnw clean install -B -Drevision=${REVISION} -Dchangelist=${CHANGELIST} -DskipTests=true

      - name: Package
        run: ./mvnw package -pl ugs-platform/application -P create-macosx-x64-package,create-macosx-aarch64-package -DskipTests=true

      # https://github.com/marketplace/actions/upload-to-github-release
      - name: Upload binaries to snapshot release
        uses: xresloader/upload-to-github-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          file: "ugs-platform/application/target/macosx-*-ugs-platform-app-*.dmg;"
          prerelease: true
          tag_name: ${GITHUB_REF_NAME}
          overwrite: true